{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Banner -->
        <!-- Note: The "styleN" class below should match that of the header element. -->
        <section id="banner" class="style2">
            <div class="inner">
                                <span class="image">
                                    <img src="images/pic07.jpg" alt="" />
                                </span>
                <header class="major">
                    <h1>L'équipe</h1>
                </header>
                <div class="content">
                    <p>BDE Furies depuis décembre 2017</p>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">
            <!-- Two -->
            <section id="two" class="spotlights">
                {% for member in teamMembers %}
                <section>
                    <img src="{{ asset_base }}{{ asset(member.avatar) }}" alt="{{ member.username }}" data-position="center center" />
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>{{ member.firstName }} {{ member.lastName }} - Poste</h3>
                            </header>
                            <p>Présentation</p>
                        </div>
                    </div>
                </section>
                {% endfor %}
            </section>
        </div>
    {% endblock %}
