{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>{{ party ? party.name : (weekend ? weekend.name : exhibit.name) }}</h1>
                        <h2>Le {{ party ? party.date|date('d-m-Y - H:m') : (weekend ? weekend.date|date('d-m-Y - H:m') : exhibit.date|date('d-m-Y - H:m')) }}</h2>
                        {% if weekend %}
                        <h4>Jusqu'au {{ weekend.endDate|date('d-m-Y') }}</h4>
                        {% endif %}
                    </header>
                    <span class="image main"><img src="{{ asset_base }}{{ party ? asset(party.banner) : (weekend ? asset(weekend.banner) : asset(exhibit.banner)) }}" alt="{{ party ? party.name : (weekend ? weekend.name : exhibit.name) }}" /></span>
                        <h3>Prix : {{ party ? party.price : (weekend ? weekend.price : exhibit.price) }} € - Lieu : {{ party ? party.location : (weekend ? weekend.location : exhibit.location) }}</h3>
                    <h3>Contenu de l'event</h3>
                    <p>{{ party ? party.details : (weekend ? weekend.details : exhibit.details) }}</p>
                </div>
            </section>
        </div>
    {% endblock %}
