{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    {% if party %}
                    <header class="major">
                        <h1>{{ party.nom }} - {{ party.prix }}</h1>
                    </header>
                    <span class="image main"><img src="{{ asset(party.banner) }}" alt="" /></span>
                    <p>Contenu de l'event</p>
                    <p>{{ party.details }}</p>
                    {% elseif weekend %}
                    <header class="major">
                        <h1>{{ weekend.nom }} - {{ weekend.prix }}</h1>
                    </header>
                    <span class="image main"><img src="{{ asset(weekend.banner) }}" alt="" /></span>
                    <p>Contenu de l'event</p>
                    <p>{{ weekend.details }}</p>
                    {% else %}
                    <header class="major">
                        <h1>{{ exhibit.nom }} - {{ exhibit.prix }}</h1>
                    </header>
                    <span class="image main"><img src="{{ asset(exhibit.banner) }}" alt="" /></span>
                    <p>Contenu de l'event</p>
                    <p>{{ exhibit.details }}</p>
                    {% endif %}
                </div>
            </section>
        </div>
    {% endblock %}
