{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>BDE FURIES</h1>
                </header>
                <div class="content">
                    <p>Retrouvez toutes les infos concernant les évènements du BDE FURIES.</p>
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">C'est parti !</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">
            <!-- One -->
            <section id="one" class="tiles">
                {% set e = [] %}
                {% for t in latestWeekends %}
                    {% set e = e|merge([t]) %}
                {% endfor %}
                {% for t in latestParties %}
                    {% set e = e|merge([t]) %}
                {% endfor %}
                {% for t in latestExhibits %}
                    {% set e = e|merge([t]) %}
                {% endfor %}

                {% for event in e|sortbyfield('date') %}
                <article>
                    <span class="image">
                        <img src="{{ asset(event.banner) }}" alt="{{ event.nom }}" />
                    </span>
                    <header class="major">
                        <h3><a href="event/{{ event.nom }}" class="link">{{ event.nom }}</a></h3>
                        <p>{{ event.date|date('d-m-Y') }} à {{ event.date|date('H:m') }} / {{ event.localisation }}</p>
                    </header>
                </article>
                {% endfor %}
            </section>
            <!-- Two -->
            <section id="two">
                <div class="inner">
                    <header class="major">
                        <h2>L'équipe</h2>
                    </header>
                    <p>Le BDE FURIES est composée de 5 étudiants de l'IESA Multimédia.</p>
                    <ul class="actions">
                        <li><a href="{{ path('equipe') }}" class="button next">Découvrez les !</a></li>
                    </ul>
                </div>
            </section>
        </div>
    {% endblock  %}

