{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Banner -->
        <!-- Note: The "styleN" class below should match that of the header element. -->
        <section id="banner" class="style2">
            <div class="inner">
                                <span class="image">
                                    <img src="images/pic07.jpg" alt="" />
                                </span>
                <header class="major">
                    <h1>Listes des anciens évènements</h1>
                </header>
                <div class="content">
                    <p>Retrouvez les photos des anciennes soirées, expositions ou week-end !</p>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">
            <!-- Two -->
            <section id="two" class="spotlights">
                {% set e = [] %}
                {% for t in oldWeekends %}
                    {% set e = e|merge([t]) %}
                {% endfor %}
                {% for t in oldParties %}
                    {% set e = e|merge([t]) %}
                {% endfor %}
                {% for t in oldExhibits %}
                    {% set e = e|merge([t]) %}
                {% endfor %}

                {% for event in e|sortbyfield('date') %}
                <section>
                    <a href="generic.html" class="image">
                        <img src="{{ asset(event.banner) }}" alt="{{ event.nom}}" data-position="center center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>{{ event.nom }}</h3>
                            </header>
                            <p>{{ event.date|date('d-m-Y') }} à {{ event.date|date('H:m') }} / {{ event.localisation }}</p>
                            <ul class="actions">
                                <li><a href="event/{{ event.nom }}" class="button">Voir plus</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                {% endfor %}
            </section>
            <!-- Three -->
            <section id="three">
                <div class="inner">
                    <header class="major">
                        <h2>L'équipe</h2>
                    </header>
                    <p>Le BDE FURIES est composée de 5 étudiants de l'IESA Multimédia.</p>
                    <ul class="actions">
                        <li><a href="{{ path('equipe') }}" class="button next">Découvrez les !</a></li>
                    </ul>
                </div>
            </section>
        </div>
    {% endblock %}
