{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Banner -->
        <!-- Note: The "styleN" class below should match that of the header element. -->
        <section id="banner" class="style2">
            <div class="inner">
                                <span class="image">
                                    <img src="images/pic07.jpg" alt="" />
                                </span>
                <header class="major">
                    <h1>Listes des anciens évènements</h1>
                </header>
                <div class="content">
                    <p>Retrouvez les photos des anciennes soirées, expositions ou week-end !</p>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">
            <!-- Two -->
            <section id="two" class="spotlights">
                {% for event in previousEvents|sortbyfield('date')|reverse %}
                <section>
                    <a href="{{ url('events_event', {slug: event.slug}) }}" class="image">
                        <img src="{{ asset_base }}{{ asset(event.banner) }}" alt="{{ event.name}}" data-position="center center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>{{ event.name }}</h3>
                            </header>
                            <p>{{ event.date|localizeddate('medium', 'short') }} / {{ event.location }}</p>
                            <ul class="actions">
                                <li><a href="{{ url('events_event', {slug: event.slug}) }}" class="button">Voir plus</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                {% endfor %}
            </section>
            <!-- Three -->
            <section id="three">
                <div class="inner">
                    <header class="major">
                        <h2>L'équipe</h2>
                    </header>
                    <p>Le BDE FURIES est composée de 5 étudiants de l'IESA Multimédia.</p>
                    <ul class="actions">
                        <li><a href="{{ path('team') }}" class="button next">Découvrez les !</a></li>
                    </ul>
                </div>
            </section>
        </div>
    {% endblock %}
