{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        {% if is_granted('ROLE_ADMIN') %}
                            <ul class="actions vertical">
                                <li><a href="/admin" class="button special fit">Espace d'administration</a></li>
                            </ul>
                        {% endif %}
                        <h1>Mon profil</h1>
                    </header>
                    {{ form_start(userForm, {'attr': {'id': 'updateProfile', 'novalidate': 'novalidate'}}) }}
                        <!-- avatar -->
                        <p>
                            {{ form_widget(userForm.avatarFile.file) }}
                            {{ form_label(userForm.avatarFile.file) }}
                        </p>
                        <p>
                            {{ form_widget(userForm.avatarFile.delete) }}
                            {{ form_label(userForm.avatarFile.delete) }}
                        </p>
                        <p>
                            {{ form_widget(userForm.firstName) }}
                            {{ form_label(userForm.firstName) }}
                            {{ form_errors(userForm.firstName) }}
                        </p>
                        <p>
                            {{ form_widget(userForm.lastName) }}
                            {{ form_label(userForm.lastName) }}
                            {{ form_errors(userForm.lastName) }}
                        </p>
                        <p>
                            {{ form_widget(userForm.email) }}
                            {{ form_label(userForm.email) }}
                            {{ form_errors(userForm.email) }}
                        </p>
                        <h2>Mes abonnements : </h2>
                        <p>M'abonner aux notifications des nouveaux évènements</p>
                        <p>
                            {{ form_widget(userForm.party) }}
                            {{ form_label(userForm.party) }}
                        </p>
                        <p>
                            {{ form_widget(userForm.exhibit) }}
                            {{ form_label(userForm.exhibit) }}
                        </p>
                        <p>
                            {{ form_widget(userForm.weekend) }}
                            {{ form_label(userForm.weekend) }}
                        </p>
                        <button type="submit">Enregistrer</button>
                    {{ form_end(userForm) }}
                    <p><a href="#">Changer de mot de passe</a></p>
                    <h2>Mes futurs événements</h2>
                    <ul>
                        {% for event in userEventsFollow|sort('date') %}
                            {% if event.date|date('d-m-Y') > "now"|date('d-m-Y') %}
                                <li><a href="{{ url('events_event', {name: event.name}) }}">{{ event.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <h2>Mes anciens événements</h2>
                    <ul>
                        {% for event in userEventsFollow|sort('date')|reverse %}
                            {% if event.date|date('d-m-Y') < "now"|date('d-m-Y') %}
                                <li><a href="{{ url('events_event', {name: event.name}) }}">{{ event.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    {% endblock %}
