<h3>Un événement à été modifié, soyez attentifs !</h3>

<h4>{{ name }}</h4>

<p>Il aura lieu le {{ date|date('d-m-Y : H:m') }} à {{ location }}</p>

<p>Prix de l'entrée : {{ price }}</p>

<p>En savoir plus :</p>

<div>{{ details }}</div>

Retrouvez nous sur <a href="localhost:8000">bdecheval.fr</a>

<p>>A plus!</p>