{% set asset_base = '/media/' %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>BDE FURIES</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ asset('asset/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('asset/css/toast.css') }}" />
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header" class="alt">
                <a href="{{ path('home') }}" class="logo">
                    <strong>BDE</strong>
                    <span>IESA Multimédia</span>
                </a>
                <nav>
                    <a href="#menu">Menu</a>
                </nav>
            </header>
            <!-- Menu -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('listeEvent') }}">anciens événements</a></li>
                    <li><a href="{{ path('team') }}">Présentation du BDE</a></li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <li><a href="{{ path('profil') }}">Mon profil</a></li>
                    {% endif %}
                </ul>

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <ul class="actions vertical">
                    <li><a href="/logout" class="button special fit">Logout</a></li>
                </ul>
                {% else %}
                    <ul class="actions vertical">
                        <li><a href="{{ path('login') }}" class="button special fit">Connexion</a></li>
                    </ul>
                {% endif %}

            </nav>
            <!-- Contenu -->
            {% block content %}{% endblock %}
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <!-- Contact -->
                    <section id="contact">
                        <div class="inner">
                                <section>
                                    <div class="contact-method">
                                        <span class="icon alt fa-envelope"></span>
                                        <h3>Email</h3>
                                        <a href="mailto:bdefuries@gmail.com">bdefuries@gmail.com</a>
                                    </div>
                                </section>
                                <section>
                                    <div class="contact-method">
                                        <span class="icon alt fa-home"></span>
                                        <h3>Adresse</h3>
                                        <span>
                                            5 Rue Saint-Augustin
                                            <br />
                                            75002 PARIS
                                        </span>
                                    </div>
                                </section>
                                <section>
                                    <div class="contact-method">
                                        <span class="icon alt fa-facebook"></span>
                                        <h3>Facebook</h3>
                                        <a href="https://www.facebook.com/iesabdefuries/" target="_blank">Retrouver notre profil ici !</a>
                                    </div>
                                </section>
                        </div>
                    </section>

                    <ul class="copyright">
                        <li>&copy; TeamCheval</li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- Scripts -->
        <script src="{{ asset('asset/js/jquery.min.js') }}"></script>
        <script src="{{ asset('asset/js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ asset('asset/js/jquery.scrollex.min.js') }}/"></script>
        <script src="{{ asset('asset/js/skel.min.js') }}"></script>
        <script src="{{ asset('asset/js/toast.js') }}"></script>
        <script src="{{ asset('asset/js/util.js') }}"></script>
        <script src="{{ asset('asset/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
