<h1>Vue Liste Soirees</h1>
{% if soirees is defined %}
    <table>
        {% for soiree in soirees %}
            <tr {{ soiree.id }}>
                <td>{{ soiree.id }}</td>
                <td>{{ soiree.nom }}</td>
                <td>Le {{ soiree.date|date('d-m-Y H:m') }}</td>
                <td>{{ soiree.prix }} €</td>
                <td><a href="/soiree/{{ soiree.nom }}">Voir plus</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    Pas trouvé de Soirees :(
{% endif %}