{% if weekend is defined %}
    <h3>Vue du weekend : {{ weekend.nom }} id : {{ weekend.id }}</h3>
    <img src="{{ weekend.banner }}" alt="{{ weekend.nom }}">
    <p>Lieu  : {{ weekend.localisation }}</p>
    <p>Elle aura lieu du {{ weekend.dateDebut|date('d-m-Y H:m') }} au {{ weekend.dateFin|date('d-m-Y H:m') }}</p>
    <p>Prévoir {{ weekend.prix }} euros pour le weekend</p>
    <h4>Plus d'info ci-dessous  :</h4>
    <p>{{ weekend.details }}</p>
{% else %}
    Erreur :/ :(
{% endif %}
<a href="/weekends">Retour</a>
